/* ···················pagina contacto···················· */

/* ·····main····· */
.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}

.formulario {
    margin: 40px;
}